@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    margin: 0;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    resize: both;
    overflow: auto;
    font-size: 14px;
}
div.ephew-formlabels {
  border: 2px solid;
  border-radius: 5px;
  background-color: #5f9ea048;
  margin: 14px;
} 
div.link-embed {
  border: 2px solid;
  border-radius: 5px;
  background-color: #5f9ea048;
  margin: 14px;
}
.media-upload-frame {
  position: inherit;
  text-align: center;
  align-self: center;
  align-content: center;
}

.media-upload-center {
  position: inherit;
  text-align: center;
  align-self: center;
  align-content: center;
  width: 255px;
  height: 240px;
  border-radius: 20px;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
  background: #a8a8a838;
  display: inline-flex;
  place-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.media-upload-dropzone {
  width: 100px;
  height: 80px;
  border: 1px dashed #999;
  border-radius: 3px;
  text-align: center;
}

.media-upload-title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #999;
  text-align: center;
  font-size: 15px;
}

.media-upload-icon {
  margin: 25px 2px 2px 2px;
}

.media-upload-input {
  position: relative;
  top: -62px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
ul {
  list-style-type: square;
}
.postedbyuserheader {
  text-align: start;
  align-items: flex-start;
  border-left: 6px solid #eca1d6;
  border-bottom: 4px solid grey;
  font-style: oblique;
  font-size: larger;
  padding: 10px;
display: flex;
flex-direction: row;}
.postedbyuserheader text {
        align-items: center;
        justify-content: center
}
.postedbyuserheader a {
text-decoration-style: double;
}
.postedbyuserheader img {
  image-rendering: auto;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid #d585247b;

}
  .bottombar {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    border-radius: 30px 0px 0px 0px;
    width: 99%;
    z-index: 30;
  }
  
    .bottombar a:not(.themeswitcher,.icon) {
      float: right;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 25px;
      height: 40px;
    }
    .bottombar .themeswitcher {
      float: left;
      display: block;
      text-align: center;
      border-radius: 0px 0px 15px 0px;
      padding: 3px 3px;
      text-decoration: none;
      font-size: 25px;
    }
    
    .bottombar .icon {
      display: none;
    }
    


.loginsidebar {
  border-radius: 30px;
  margin: 0;
  padding: 0;
  width: 35%;
  position: fixed;
  height: 100%;
  overflow: 'auto';
  padding: 10px 10px;
}
      .sidebar {
        border-radius: 30px;
        margin-bottom: 50%;
        margin: auto;
        padding: 0;
        width: 300px;
        position: fixed;
        height: auto;
        overflow: auto;
        align-items: center;
      }
      .openbtn {
        display: none;
      }
      .sidebar .closebtn {
        display: none;
      }
        .sidebar a {
          display: block;
          padding: 16px;
          text-decoration: none;
          align-self: center;
        }
      div.content {
        border-radius: 5px;
        margin-left: 305px;
        padding: 30px 30px;
        height: 600px;
        overflow: auto;
        /* text-align: justify; */
      }
      
      div.logincontent {
        border-radius: 25px;
        margin-left: 40%;
        padding: 1px 16px;
        height: 400px;
      }
div.timeline {
  border-radius: 7px 40px 50px 10px;
  border: 10px;
  align-self: center;
  align-items: center;
  line-height: 30px;
  padding: 1px 16px;
  height: 400px;
}
.link-embed {
  border-radius: 10px 10px 40px 40px;
  padding: 15px;
  margin: 20px;
align-self: center;
text-align: center;
}
img.card-img-top {
  max-width: 200px;
  max-height: 200px;
}
.card-text {
  size: 8px
}
.postview:not(.postview-article){
  border: 5px solid;
  border-width: thick;
  text-align: center;
  align-self: center;
  align-items: center;
  min-width: 300px;
}

div.postview-article:not(.postedbyuserheader) {
  border: 5px solid;
  border-width: thick;
  text-align: center;
  min-width: 300px;
  min-height: 500px;
}

li.postview {align-self: center;}
ul.timeline {
  display: block;
  line-height: 30px;
  align-self: center;
  align-items: center;
  list-style-type: none;
  padding: 1px 16px;
}
li.timeline {
  bottom: 40px;
  align-self: center;
  align-items: center;
  border: 5px solid;
  display: block;
  border-width: thick;
  text-align: center;
}
.centered {
  text-align: center;
  align-items: center;
}
.ephew-form {
    margin: 50px auto;
    border-radius: 70px;
    width: 300px;
    padding: 30px 25px;
    text-align: center;
    align-items: center;
}
form.big-ephew-form {
  margin: 50px auto;
  border-radius: 70px;
  min-width: 300px;
  max-width: 900px;
  padding: 30px 25px;
}

h1 {
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
h2 {
    margin: 0px auto 21px;
    font-size: 21px;
    font-weight: 275;
    text-align: center;
}
h3 {
  margin: 0px auto 19px;
  font-size: 19px;
  font-weight: normal;
  text-align: center;
}
h4 {
  margin: 0px auto 15px;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}
.login-input {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    outline: none;
}
.ephew-button-big {
    margin: 10px;
    border-radius: 20px 20px 5px 5px;
    border: 0;
    outline: 0;
    width: 90%;
    height: 50px;
    font-size: 16px;
    padding: 17px;
    text-align: -webkit-center;
    text-align: center;
    cursor: pointer;
}
.ephew-button-small {
  margin: 10px;
  border-radius: 5px 5px 20px 20px;
  border: 0;
  outline: 0;
  width: 60%;
  height: 35px;
  font-size: 16px;
  padding: 17px;
  text-align: -webkit-center;
  text-align: center;
  cursor: pointer;
}
.ephew-inputtablebox{
  margin: 10px;
  border-radius: 10px 10px 20px 20px;
  border: 5px solid;
  outline: 0;
  width: 80%;
  height: auto;
  padding: 17px;
  text-align: -webkit-center;
  text-align: center;
  cursor: pointer;
}
.ephew-textinputtablebox {
  margin: 10px;
  border-radius: 10px 10px 20px 20px;
  border: 5px solid;
  outline: 0;
  min-width: 80%;
  height: auto;
  padding: 17px;
  text-align: -webkit-center;
  text-align: center;
  cursor: pointer;
}
textarea.ephew-textinputtablebox {
resize: none;
}
.link {
    font-size: 15px;
    text-align: 'center';
    margin-bottom: 0px;
}

      @media screen and (max-width: 600px) {
        .bottombar a:not(.icon, .themeswitcher) {
          display: none;
        }
      
        .bottombar a.icon {
          float: left;
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
      
        .sidebar {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 100;
          top: 0;
          left: 0;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
        }
      
        .sidebar a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          display: block;
          transition: 0.3s;
        }
      
        .sidebar .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
          display: inline;
        }
      
        .openbtn {
          display: block;
          font-size: 20px;
          cursor: pointer;
          padding: 10px 14px;
          border: none;
          z-index: 50;
          position: absolute;
          top: 8px;
          left: 5px;
          border-radius: 30px;
      }
      
        #main {
          transition: margin-left .5s;
          padding: 16px;
        }
      
        div.content {
          margin-left: 0;
          position: relative;
      
        }
      
        .bottombar.responsive .icon {
          position: absolute;
          border-radius: 30px 30px 0px 0px;
          left: 0;
          bottom: 0;
        }
      
        .bottombar.responsive a:not(.themeswitcher) {
          float: none;
          display: block;
          text-align: right;
        }
      
        .bottombar.responsive .themeswitcher {
          display: none;
        }
      
      }
      
      @media screen and (max-height: 450px) {
        .sidebar {
          padding-top: 15px;
        }
      
        .sidebar a {
          font-size: 18px;
        }
      }@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    margin: 0;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    resize: both;
    overflow: auto;
    font-size: 14px;
}
div.ephew-formlabels {
  border: 2px solid;
  border-radius: 5px;
  background-color: #5f9ea048;
  margin: 14px;
} 
div.link-embed {
  border: 2px solid;
  border-radius: 5px;
  background-color: #5f9ea048;
  margin: 14px;
}
.media-upload-frame {
  position: inherit;
  text-align: center;
  align-self: center;
  align-content: center;
}

.media-upload-center {
  position: inherit;
  text-align: center;
  align-self: center;
  align-content: center;
  width: 255px;
  height: 240px;
  border-radius: 20px;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
  background: #a8a8a838;
  display: inline-flex;
  place-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.media-upload-dropzone {
  width: 100px;
  height: 80px;
  border: 1px dashed #999;
  border-radius: 3px;
  text-align: center;
}

.media-upload-title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #999;
  text-align: center;
  font-size: 15px;
}

.media-upload-icon {
  margin: 25px 2px 2px 2px;
}

.media-upload-input {
  position: relative;
  top: -62px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
ul {
  list-style-type: square;
}
.postedbyuserheader {
  text-align: start;
  align-items: flex-start;
  border-left: 6px solid #d58524;
  border-bottom: 4px solid grey;
  font-style: oblique;
  font-size: larger;
  padding: 10px;
display: flex;
flex-direction: row;}
.postedbyuserheader text {
        align-items: center;
        justify-content: center
}
.postedbyuserheader a {
text-decoration-style: double;
}
.postedbyuserheader img {
  image-rendering: auto;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 2px solid #d585247b;

}
  .bottombar {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    border-radius: 30px 0px 0px 0px;
    width: 99%;
    z-index: 30;
  }
  
    .bottombar a:not(.themeswitcher,.icon) {
      float: right;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    .bottombar .themeswitcher {
      float: left;
      display: block;
      text-align: center;
      border-radius: 0px 0px 15px 0px;
      padding: 3px 3px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .bottombar .icon {
      display: none;
    }
    


.loginsidebar {
  border-radius: 30px;
  margin: 0;
  padding: 0;
  width: 35%;
  position: fixed;
  height: 100%;
  overflow: 'auto';
  padding: 10px 10px;
}
      .sidebar {
        border-radius: 30px;
        margin-bottom: 50%;
        margin: auto;
        padding: 0;
        width: 300px;
        position: fixed;
        height: auto;
        overflow: auto;
        align-items: center;
      }
      .openbtn {
        display: none;
      }
      .sidebar .closebtn {
        display: none;
      }
        .sidebar a {
          display: block;
          padding: 16px;
          text-decoration: none;
          align-self: center;
        }
      div.content {
        border-radius: 5px;
        margin-left: 305px;
        padding: 30px 30px;
        height: 600px;
        overflow: auto;
        /* text-align: justify; */
      }
      
      div.logincontent {
        border-radius: 25px;
        margin-left: 40%;
        padding: 1px 16px;
        height: 400px;
      }
div.timeline {
  border-radius: 7px 40px 50px 10px;
  border: 10px;
  align-self: center;
  align-items: center;
  line-height: 30px;
  padding: 1px 16px;
  height: 400px;
}
.link-embed {
  border-radius: 10px 10px 40px 40px;
  padding: 15px;
  margin: 20px;
align-self: center;
text-align: center;
}
img.card-img-top {
  max-width: 200px;
  max-height: 200px;
}
.card-text {
  size: 8px
}
.postview:not(.postview-article){
  border: 5px solid;
  border-width: thick;
  text-align: center;
  align-self: center;
  align-items: center;
  min-width: 300px;
}

div.postview-article:not(.postedbyuserheader) {
  border: 5px solid;
  border-width: thick;
  text-align: center;
  min-width: 300px;
  min-height: 500px;
}

li.postview {align-self: center;}
ul.timeline {
  display: block;
  line-height: 30px;
  align-self: center;
  align-items: center;
  list-style-type: none;
  padding: 1px 16px;
}
li.timeline {
  bottom: 40px;
  align-self: center;
  align-items: center;
  border: 5px solid;
  display: block;
  border-width: thick;
  text-align: center;
}
.centered {
  text-align: center;
  align-items: center;
}
.ephew-form {
    margin: 50px auto;
    border-radius: 70px;
    width: 300px;
    padding: 30px 25px;
    text-align: center;
    align-items: center;
}
form.big-ephew-form {
  margin: 50px auto;
  border-radius: 70px;
  min-width: 300px;
  max-width: 900px;
  padding: 30px 25px;
}

h1 {
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
h2 {
    margin: 0px auto 21px;
    font-size: 21px;
    font-weight: 275;
    text-align: center;
}
h3 {
  margin: 0px auto 19px;
  font-size: 19px;
  font-weight: normal;
  text-align: center;
}
h4 {
  margin: 0px auto 15px;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}
.login-input {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 25px;
    height: 25px;
    width: calc(100% - 23px);
}
.login-input:focus {
    outline: none;
}
.ephew-button-big {
    margin: 10px;
    border-radius: 20px 20px 5px 5px;
    border: 0;
    outline: 0;
    width: 90%;
    height: 50px;
    font-size: 16px;
    padding: 17px;
    text-align: -webkit-center;
    text-align: center;
    cursor: pointer;
}
.ephew-button-small {
  margin: 10px;
  border-radius: 5px 5px 20px 20px;
  border: 0;
  outline: 0;
  width: 60%;
  height: 35px;
  font-size: 16px;
  padding: 17px;
  text-align: -webkit-center;
  text-align: center;
  cursor: pointer;
}
.ephew-inputtablebox{
  margin: 10px;
  border-radius: 10px 10px 20px 20px;
  border: 5px solid;
  outline: 0;
  width: 80%;
  height: auto;
  padding: 17px;
  text-align: -webkit-center;
  text-align: center;
  cursor: pointer;
}
.ephew-textinputtablebox {
  margin: 10px;
  border-radius: 10px 10px 20px 20px;
  border: 5px solid;
  outline: 0;
  min-width: 80%;
  height: auto;
  padding: 17px;
  text-align: -webkit-center;
  text-align: center;
  cursor: pointer;
}
textarea.ephew-textinputtablebox {
resize: none;
}
.link {
    font-size: 15px;
    text-align: 'center';
    margin-bottom: 0px;
}

      @media screen and (max-width: 600px) {
        .bottombar a:not(.icon, .themeswitcher) {
          display: none;
        }
      
        .bottombar a.icon {
          float: left;
          display: block;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          font-size: 17px;
        }
      
        .sidebar {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 100;
          top: 0;
          left: 0;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
        }
      
        .sidebar a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          display: block;
          transition: 0.3s;
        }
      
        .sidebar .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
          display: inline;
        }
      
        .openbtn {
          display: block;
          font-size: 20px;
          cursor: pointer;
          padding: 10px 14px;
          border: none;
          z-index: 50;
          position: absolute;
          top: 8px;
          left: 5px;
          border-radius: 30px;
      }
      
        #main {
          transition: margin-left .5s;
          padding: 16px;
        }
      
        div.content {
          margin-left: 0;
          position: relative;
      
        }
      
        .bottombar.responsive .icon {
          position: absolute;
          border-radius: 30px 30px 0px 0px;
          left: 0;
          bottom: 0;
        }
      
        .bottombar.responsive a:not(.themeswitcher) {
          float: none;
          display: block;
          text-align: right;
        }
      
        .bottombar.responsive .themeswitcher {
          display: none;
        }
      
      }
      
      @media screen and (max-height: 450px) {
        .sidebar {
          padding-top: 15px;
        }
      
        .sidebar a {
          font-size: 18px;
        }
      }
          body {
              background-color: #EEBCBC;
              scrollbar-3dlight-color: #04AA6D;
          }
    
          .loginsidebar {
              background-color: #b086ff;
          }
    
          .sidebar {
              background-color: #f1f1f1;
              box-shadow: 4px 3px 8px 1px #05bddd;
          }
    
          .sidebar a {
              color: #000000;
              background-color: #EEDEAB;
          }
    
          .sidebar a.active {
              background-color: #aaaa04;
              color: #ffff00;
          }
    
    
    
          .sidebar a:hover:not(.active) {
              background-color: #f47a7a;
              color: #aa9fd7;
          }
    
          div.timeline {
              background-color: #fff;
              border-color: #008060;
          }
    
          div.content {
              background-image: linear-gradient(#C8ECB5, #eedeab80);
          }
    
          div.logincontent {
              background-image: linear-gradient(#C8ECB5, #eedeab80);
          }
    
          .openbtn {
              background-color: #EEDEAB;
              color: #161616;
              box-shadow: 4px 3px 8px 1px #05bddd;
          }
    
          div.bottombar {
              background-image: linear-gradient(to right, #a9c3bc, #EEDEAB);
          }
    
          .bottombar a:not(.themeswitcher) {
              color: #a74646;
          }
    
          .themeswitcher {
              color: #fefefe;
              background-color: #171616;
          }
    
          .themeswitcher:hover {
              background-color: #bbdcbb;
          }
    
          .bottombar a:hover:not(.active) {
              background-color: #00FF00;
          }
    
          .bottombar .active {
              background-color: #04AA6D;
          }
    
          .ephew-form {
              background-color: #ffffff;
          }
    
          div.link-embed {
              background-color: #fff9ee;
          }
    
          .big-ephew-form {
              background-color: #ffffff;
          }
    
          h1.login-title {
              color: #666;
          }
    
          h1 {
              color: #2a2a2a;
          }
    
          .login-input {
              border: 1px solid #ccc;
          }
    
          .login-input:focus {
              border-color: #6e8095;
          }
    
          .ephew-buttons {
              color: #5c5c8a;
              background-color: #a9c3bc;
          }
    
          .ephew-buttons:hover {
              color: #515174;
              background-color: #a9c3bc;
          }
    
          .ephew-buttons:focus {
              color: #1e1eb9;
              background-color: #00dfa7a1;
          }
    
          .ephew-inputtablebox {
              color: #5c5c8a;
              border-color: #a9c3bc;
              background-color: #f5f5dc;
          }
    
          .ephew-textinputtablebox {
              color: #4d4b52;
              background-color: #ddd99a;
              border-color: #a9c3bc;
              box-shadow: inset 0px 0px 10px 10px #f5f5dc;
          }
    
          .link {
              color: #666;
          }
    
          .link a {
              color: #666;
          }
    
          .timeline li {
              border-color: #ffd54d;
              background-color: #c2c2c2af;
              color: #191515;
          }
    
          .postedbyuserheader a {
              color: #bbdcbb;
          }
    
          .timeline li.article {
              background-color: #ff4da372;
          }
    
          .postedbyuserheader {
              color: #faebd7;
          }